* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-image {
    background: url('https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_640.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; 
    position: relative;
}
.navbar {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        text-align: center;
        background-color:rgba(0, 0, 0, 0.3);
        padding: 20px;
        z-index: 1000;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
}
.navbar ul li {
        margin-bottom: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 32px;
}
.quote {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1000;
}
.quote p {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}